<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.CardMapper">

    <resultMap id="cardMapper" type="com.tencent.wxcloudrun.model.Card">
        <id property="id" column="id"/>
        <result property="userId" column="user_id" javaType="java.lang.Integer"/>
        <result property="name" column="name" javaType="java.lang.String"/>
        <result property="cardNo" column="card_no" javaType="java.lang.String"/>
        <result property="password" column="password" javaType="java.lang.String"/>
        <result property="bankId" column="bank_id" javaType="java.lang.Integer"/>
        <result property="cardType" column="card_type" javaType="java.lang.Integer"/>
        <result property="cardLimit" column="card_limit" javaType="java.math.BigDecimal"/>
        <result property="billDay" column="bill_day" javaType="java.lang.Integer"/>
        <result property="repayDayType" column="repay_day_type" javaType="java.lang.Integer"/>
        <result property="repayDayNum" column="repay_day_num" javaType="java.lang.Integer"/>
        <result property="status" column="status" javaType="java.lang.Integer"/>
        <result property="remark" column="remark" javaType="java.lang.String"/>
        <result property="createdBy" column="created_by" javaType="java.lang.Integer"/>
        <result property="createdAt" column="created_at" javaType="java.time.LocalDateTime" />
        <result property="updatedBy" column="updated_by" javaType="java.lang.Integer"  />
        <result property="updatedAt" column="updated_at" javaType="java.time.LocalDateTime"  />
        <result property="deleteFlag" column="delete_flag" javaType="java.lang.Integer"/>
    </resultMap>

    <sql id="cardColumns">
        id,
        user_id,
        name,
        card_no,
        password,
        bank_id,
        card_type,
        card_limit,
        bill_day,
        repay_day_type,
        repay_day_num,
        status,
        remark,
        created_by,
        created_at,
        updated_by,
        updated_at,
        delete_flag
    </sql>

    <select id="getById" resultMap="cardMapper" parameterType="java.lang.Integer">
        SELECT
        <include refid="cardColumns"></include>
        FROM t_card
        WHERE id = #{id}
    </select>

    <select id="listByUserId" resultMap="cardMapper" parameterType="java.lang.Integer">
        SELECT
        <include refid="cardColumns"></include>
        FROM t_card
        WHERE user_id = #{userId}
        AND delete_flag = 0
        ORDER BY bill_day ASC
    </select>

    <select id="listAll" resultMap="cardMapper">
        SELECT
        <include refid="cardColumns"></include>
        FROM t_card
        WHERE delete_flag = 0
    </select>

    <select id="listByBillDay" parameterType="java.lang.Integer" resultMap="cardMapper">
        SELECT
        <include refid="cardColumns"></include>
        FROM t_card
        WHERE delete_flag = 0
        AND bill_day = #{billDay}
    </select>

    <insert id="save" parameterType="com.tencent.wxcloudrun.model.Card">
        INSERT INTO t_card (
            user_id,
            name,
            card_no,
            password,
            bank_id,
            card_limit,
            bill_day,
            repay_day_type,
            repay_day_num,
            remark,
            created_by
            )
        VALUES (
            #{userId},
            #{name},
            #{cardNo},
            #{password},
            #{bankId},
            #{cardLimit},
            #{billDay},
            #{repayDayType},
            #{repayDayNum},
            #{remark},
            #{createdBy}
            )
    </insert>

    <update id="update" parameterType="com.tencent.wxcloudrun.model.Card">
        UPDATE `t_card`
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="cardNo != null and cardNo != ''">
                card_no = #{cardNo},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>

            <if test="bankId != null and bankId !=''">
                bank_id = #{bankId},
            </if>

            <if test="cardType != null">
                card_type = #{cardType},
            </if>

            <if test="cardLimit != null">
                card_limit = #{cardLimit},
            </if>

            <if test="billDay != null">
                bill_day = #{billDay},
            </if>

            <if test="repayDayType != null">
                repay_day_type = #{repayDayType},
            </if>

            <if test="repayDayNum != null">
                repay_day_num = #{repayDayNum},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            updated_at = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <update id="remove">
        UPDATE t_card
        SET delete_flag = 1
        WHERE id = #{id}
    </update>

</mapper>
